
<div class="container-titulo">
    <h2 class="titulo">Indisponibilidade SAA</h2>
</div>

<form class="form-login" method="POST">
    <header>Login</header>
    <div class="form-group">
        <input type="text" name="username" id="username" required class="input">
        <label for="" class="input-label">Usuario</label>
    </div>
    <div class="form-group">
        <input type="password" name="password" id="password" required class="input">
        <label for="" class="input-label">Senha</label>
    </div>
    <button type="submit" class="btn">Entrar</button>

    <div>
        {{status}}
    </div>
</form>